html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-weight: bold;
}

table caption, thead th, tbody td {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #33b1ff;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}